@import url('https://fonts.googleapis.com/css?family=Raleway:300,700,900');

/* Basic styles */

*, *:after, *:before {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


html,
body {
    background: #fff;
    color:  #262626;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 300;
    text-align: center;
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

a, button{
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    text-decoration: none;
}


/* кнопка */

button,
.btn {
    display: block;
    padding: 19px 25px; /* для самого маленького размерa */
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    color: #FFF;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    outline:none;
}

button:hover,
.btn:hover,
button:focus,
.btn:focus{
    background: #c7232f;
    border-color: #c7232f;
}

button:active,
.btn:active {
    background: #fff;
    color: #ff6033;
}


/* Typography */


/* Additional styles or modificators */
.text-left{
    text-align: left !important;
}

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}

/* Grid */
.ca-container{
    margin: auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1200px;
}



.row{
    margin: 0 -15px;
}

.row:before,
.row:after{
    content: '';
    display: table;
    clear: both;
}

[class^="col"],
[class*="col"]{
    float: left;
    padding: 0 15px;
    box-sizing: border-box;
}

.col-1{
    width: 8.3333%;
}

.col-2{
    width: 16.6666%;
}

.col-3{
    width: 25%;
}

.col-4{
    width: 33.3333%;
}

.col-5{
    width: 41.6665%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.3333%;
}

.col-8{
    width: 66.6666%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.3333%;
}

.col-11{
    width: 91.6666%
}

.col-12{
    width: 100%;
}

.col-offset-1{
    margin-left: 8.3333%;
}

.col-offset-2{
    margin-left: 16.6666%;
}

.col-offset-3{
    margin-left: 25%;
}

.col-offset-4{
    margin-left: 33.3333%;
}

.col-offset-5{
    margin-left: 41.6665%;
}

.col-offset-6{
    margin-left: 50%;
}

.col-offset-7{
    margin-left: 58.3333%;
}

.col-offset-8{
    margin-left: 66.6666%;
}

.col-offset-9{
    margin-left: 75%;
}

.col-offset-10{
    margin-left: 83.3333%;
}

.col-offset-11{
    margin-left: 91.6666%
}

/* .col-offset-15{
    margin-left: 15%;
} */

/* Header */
.ca-header {
    position: relative;
    min-height: 100vh;
    padding: 51px 0 325px;
    background: #f9f8fb url(../img/img-bg.jpeg) no-repeat center center;
    background-size: cover;
}

/* .ca-logo {
    padding-left: 0;
}

.ca-header-view {
    padding: 0;
} */

.ca-header__name {
    margin: 252px 0 0 -4px;
    font-size: 60px;
    font-weight: 900;
    line-height: 1;
    text-transform: capitalize;
}

.ca-header__text {
    margin: 20px 0 25px;
}

.ca-header__next-link {
    position: absolute; /* вставлена картинкой не сможем играться с цветом свг */
    left: 48%;
    bottom: 78px;
    display: block;
    transform: traslateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.ca-header__next-link:hover {
    opacity: 0.7;
}


.btn--first {
    max-width: 50%;
    margin: 0;
    background-color:  #ff6033;
    border: 1px solid #ff6033;
}

/* nav */

.ca-nav {
    float: right;
    display: inline-block;
    padding-top: 6px;
    text-align: right;
}

.ca-nav ul {
    padding: 0;
    font-size: 0;
}

.ca-nav li {
    display:inline-block;
    list-style: none;
    border-top: 4px solid transparent;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    margin: 0 20px;
    text-align: center;
}

.ca-nav li:last-child {
    margin: 0 0 0 20px;
}

li a {
    color:  #262626;
}


ul:hover li { border-top: 4px solid transparent;}
ul:hover li:hover { border-top: 4px solid #ff6033;}


/* section - about */

.ca-about {
    padding: 36px 0 22px;
    background-color: #00b1b1;
    color: #fff;
}

.about-img {
    padding: 36px 0 48px;
    margin-left: 10px;
}

.ca-container__title {
    font-size: 90px;
    line-height: 0.9;
    margin: 139px 0 0;
    text-transform: capitalize;
}

.column--padding-right {
    padding-right: 20px;
}

.ca-content {
    text-align: left;
    margin-left: -30px;
}

.ca-container__text {
    margin: 18px 0 0;
}

.text--margin-top {
    margin-top: 10px;
}


/* services */

.ca-services {
    padding: 36px 0 22px;
    background-color: #70bfff;
    color: #fff;
}

.ca-services__img {
    position: relative;

}
.potato-img {
    margin-left: -66px;
    padding-top: 63px;
    padding-left: 174px;
}

.ca-buttons {
    margin: 142px 0 109px;
    text-align: left;

}

.title-services {
    position: absolute;
    top: 25.3%;
    width: 100%;
    left: 2.6%;
}

.ca-buttons__button {
    width: 60%;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 15px;
    padding: 15px 15px;
    font-size: 20px;
    font-weight: 700;
    color: #262626;
    line-height: 1.35;
    background: #FFF;
    border: 1px solid #ccc;
    text-transform: capitalize;

}

.ca-buttons__btn-img {
    width: 20%;
    height: 100px;
    margin-bottom: 20px;
    margin-left: -1px;
    background: #FFF;
    border: 1px solid #ccc;
}

.ca-buttons__btn-img img {
    padding-left: 10px;
}

/* GALLERY */

.ca-gallery {
    background: #ffe92f;
}

.column--pad {
    padding: 0;
}

.ca-gallery__img-wrap {
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.ca-gallery__img-wrap img {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}

.ca-gallery__img-wrap .ca-gallery__hover-img {
    display: none;
}

.ca-gallery__img-wrap:hover .ca-gallery__hover-img {
    display: inline-block;
    position: absolute;
    background: #00c4c4;
    top: 0; /* в верхнем левом углу вместе с position:relative; у .img-wrap */
    left:0;
    right:0;
    bottom:0;
}

.btn--second {
    max-width: 50%;
    margin: 0;
    background-color:  #5585a2;
    border: 1px solid #5585a2;
}

.title--margin {
    margin: 0;
    padding: 100px 0 27px;
}

.ca__info {
    margin-bottom: 46px;
}

.ca__next-row {
    margin-bottom: 22px;
}

.ca__last-row {
    padding-bottom: 120px;
}


/* SUB */
.ca-subscribe {
    background: #f9f8fb url(../img/bg-white.png) no-repeat center center;
    background-size: cover;
}

.ca-subscribe__img {
    padding-bottom: 165px;
}

.ca-subscribe__info {
    margin-bottom: 35px;
    text-align: left;
}

.title--font {
    font-size: 40px;
    padding-bottom: 0;
}


input[type="email"] {
    width:100%;
    border:1px solid #ccc;
    padding:16px 15px;
    background:white;
}

input[type="submit"]{
    width: 100%;
    padding:16px 15px;
    text-transform: uppercase;
    border:1px solid #96b92c;
    background-color: #96b92c;
}

input[type="email"]:focus,
input[type="submit"]:focus {
    box-shadow:0 0 5px rgba(50, 200, 255, 0.5);
    outline:none;
}

input[type="submit"]:hover {
    background-color: #fff;
    color: #96b92c;
}

/* BLOG */

.ca-blog {
    background: #b07cf7;
    color: #FFF;
}

.btn--third {
    max-width: 50%;
    margin: 0;
    background-color:  #f72b3b;
    border: 1px solid #f72b3b;
}

.nov-bg {
    position: absolute;
    border-radius: 5px;
    background-color: rgba(38, 38, 38, 0.5);
    left: 32px;
    top: 32px;
    width: 60px;
    height: 60px;
    z-index: 57;
}
.nov {
    position: absolute;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    left: 0px;
    top: -25px;
    z-index: 58;
}


.ca-blog__img-wrap {
    position: relative;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.ca-blog__img-wrap img {
    width: 100%;
    height: auto;
    margin-bottom: 28px;
}

.ca-blog__img-wrap .ca-blog__hover-img {
    display: none;
}

.ca-blog__img-wrap:hover .ca-blog__hover-img {
    display: inline-block;
    position: absolute;
    background: linear-gradient(to top, #000, transparent);;
    top: 160px;
    left:0;
    right:0;
    bottom:0;
}

.ca-blog__hover-text {
    text-align: left;
    padding-left: 25px;
}

.hover-name {
    font-size: 20px;
}

.hover-add-by {
    font-size: 13px;
}

/* contact */

.ca-contact {
    background: #f9f8fb url(../img/bg-footer.png) no-repeat center center;
    background-size: cover;
}

.ca-contact--pad {
    padding-bottom: 100px;
}

.ca-contacts {
    text-align: left;
}

.ca-contact__our-info {
    margin-bottom: 18px;
}

.ca-contact__our-info h3,
.ca-contact__our-info p,
.ca-contact__our-info a {
    margin: 0;
    font-size: 20px;
    line-height: 1.25;
}

.ca-contact__our-info h3 {
    text-transform: uppercase;
    font-size: 17px;
    line-height: 1.47;
}

.ca-contact__our-info a:visited {
    color: #262626;
    text-decoration: none;
}

.ca-contact__our-info a:hover {
    color: #0e8686;
    text-decoration: underline;
}

.ca-contact__our-info a:active {
    color: red;
    text-decoration: none;
}



/* FOOTER */

.ca-footer {
    background: #262626;
    color: #b9b9b9;
}

.ca-footer p {
    margin: 0;
    padding: 30px 0;
}

.footer__left {
    text-align: left;
}

.footer__centre {
    text-align: center;
    padding: 30px 0;
}

.footer__centre img {
    display: inline-block;
}

.footer__right {
    text-align: right;
}
.right--color {
    float: none;
    padding: 0;
    color: #f12b55;
}
